.auth-form__tile {
  padding-bottom: 0;
  max-width: 575px;
}

.auth-form__input {
  margin-bottom: $spacing-05 * 2;
}

.auth-form__header {
  margin-bottom: $spacing-05 * 3;
}

.auth-form__submit-btn {
  width: calc(50%);
}